<div class="flex flex-col items-center gap-4">
    <div class="relative">
        <canvas [ngClass]="isMainChart ? 'max-w-[14rem]' : 'max-w-[11rem]'" id="{{this.data.name}}"></canvas>
        <span [ngClass]="isMainChart ? 'top-[44%] left-[36%] text-4xl' : 'top-[42%] left-[38%] text-2xl'"
            class="absolute font-bold text-gray-600">{{this.data.value.toFixed(2) *
            100}}%</span>
    </div>
    <span [ngClass]="isMainChart ? 'text-2xl' : 'text-md'" class=" text-gray-600 font-medium">{{this.data.label}}</span>
</div>