<div class="w-full h-full bg-slate-100">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <h1 class="font-bold text-center text-6xl text-biofy-blue-dark">MendelAI</h1>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <div class="space-y-6" [formGroup]="requestForm">
        <div>
          <label for="dna" class="block text-md font-medium leading-6 text-gray-900">Digite sua String DNA</label>
          <div class="mt-2">
            <input formControlName="dna" type="email" autocomplete="email" required class="block w-full p-2 rounded-md border-1 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 hover:border-slate-600 focus-visible:border-slate-600 outline-none">
          </div>
          <div>
            <button (click)="createRequest()" class="flex w-full justify-center rounded-md bg-biofy-blue px-3 py-1.5 mt-4 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-biofy-blue-more">
              Enviar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
```
