<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img class="h-10 w-auto" src="../../assets/img/mendelia-transparent.png" alt="MandelIA">
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a href="/home" 
              routerLink="/home"
              routerLinkActive="bg-gray-900 text-white"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" 
              [ngClass]="{ 'bg-gray-900 text-white': router.isActive('/home', true)}"
              (click)="handleLinkClick($event, '/home')"
              aria-current="page"
            >
              Home
            </a>
            <a href="/dashboard" 
              routerLink="/dashboard"
              routerLinkActive="bg-gray-900 text-white"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              [ngClass]="{ 'bg-gray-900 text-white': router.isActive('/dashboard', true)}"
              (click)="handleLinkClick($event, '/dashboard')"
            >
              Dashboard
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <a href="/home" 
        routerLink="/home"
        routerLinkActive="bg-gray-900 text-white"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium" 
        [ngClass]="{ 'bg-gray-900 text-white': router.isActive('/home', true)}"
        aria-current="page"
        (click)="handleLinkClick($event, '/home')"
      >
        Home
      </a>
      <a href="/dashboard" 
        routerLink="/dashboard"
        routerLinkActive="bg-gray-900 text-white"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
        [ngClass]="{ 'bg-gray-900 text-white': router.isActive('/dashboard', true)}"
        (click)="handleLinkClick($event, '/dashboard')"
      >
        Dashboard
      </a>
    </div>
  </div>
</nav>